<div class="card">
    <div class="post-header">
        <header>{{post.title}}</header>
        <div class="post-info">
            <p>Posted by {{post.user.username}} on {{post.date}}</p>
        </div>
    </div>
    <div class="post-content">
        {{post.content}}
    </div>
</div>