<div class="card">
        <header class="post-header">
            {{post.title}}
            <div class="post-info">
            <p>Posted by {{post.user.username}} on {{post.date}}</p>
            </div>
        </header>     
    <div class="post-content">
        {{post.content}}
    </div>
</div>