<div id="comment-form">
    <h1></h1>
    <form>
        <label for="comment">Comment</label>
        <input type="text" id="comment">
        <button type="submit" id="comment-button" data-postid="{{post.id}}">comment</button>
    </form>
</div>