<div class="card">
    <div class="post-header">
        <header><a href="/editPost/{{this.id}}" data-postid="{{this.id}}">{{this.title}}</a></header>
        <div class="post-info">
            <p>{{this.date}}</p>
        </div>
    </div>
</div>