<div class="card">
        <header class="post-header">
            <a href="/comment/{{this.id}}" data-postid="{{this.id}}">{{this.title}}</a>
            <div class="post-info">
            <p>{{this.date}}</p>
            </div>
        </header>     
</div>