<div id="comment-on-post">
    {{> comment-post-format}}
    {{#if commenting}}
        {{> createComment}}
    {{else}}
    {{#if LoggedIn}}
        <div id="commentbuttondiv">
            <button type="submit" id="toComment" data-postid="{{post.id}}">Comment</button>    
        </div>
    {{/if}}    
        {{#each post.comments}}
            {{> commented}}
        {{/each}}
    {{/if}}
</div>

{{#if commenting}}
    <script src="/js/createComment.js"></script>
{{else}}
    <script src="/js/commentingStatus.js"></script>
{{/if}}