<div id="comment-on-post">
    {{> comment-post-format}}
    {{#if commenting}}
        {{> createComment}}
    {{else}}
    <div id="commentbuttondiv">
            <button type="submit" id="toComment" data-postid="{{post.id}}" {{#if LoggedIn}}data-loggedin="true"{{else}}data-loggedin="false"{{/if}}>Comment</button>    
        </div>
        {{#each post.comments}}
            {{> commented}}
        {{/each}}
    {{/if}}
</div>

{{#if commenting}}
    <script src="/js/createComment.js"></script>
{{else}}
    <script src="/js/commentingStatus.js"></script>
{{/if}}