<div id="my-posts">
    {{#each posts}}
    {{> mypost-format}}
    {{/each}}
</div>
<div id="create-post">
    <button id="create-post-button">New Post</button>
</div>

<script src="/js/createPost.js"></script>