<div id="login-form">
    <header><h1>Login</h1></header>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username">
        <label for="password">Password</label>
        <input type="text" id="password">
        <button type="submit" id="login">Login!</button>
    </form>
    <div id="change-to-sign-up">
        <a href="/signup">Sign Up Instead</a>
    </div>
</div>

<script src="/js/login.js"></script>
