<div id="new-post-form">
    <div id='new-post-header'>
        <header><h1>New Post</h1></header>
    </div>
    <form>
        <label for="title">Title</label>
        <input type="text" id="title">
        <label for="content">Content</label>
        <input type="text" id="content">
        <button type="submit" id="new-post">Submit</button>
    </form>
</div>

<script src="/js/newPost.js"></script>