<div id="signinForm">
    <h1>Sign In</h1>
    <form>
        <input type="text" id="username">
        <input type="text" id="password">
        <button type="submit">Login!</button>
    </form>
    <div id="changeSignup">
        <a href="/signup">Sign Up Instead</a>
    </div>
</div>
