<div id="sign-up-form">
    <header><h1>Sign Up</h1></header>
    <form>
        <label for="username">Username</label>
        <input type="text" id="username">
        <label for="password">Password</label>
        <input type="text" id="password">
        <button type="submit" id="signup">Sign Up!</button>
    </form>
    <div id="change-to-login">
        <a href="/login">Login Instead</a>
    </div>
</div>

<script src="/js/signup.js"></script>